In [117]:
import pandas as pd

In [119]:
df = pd.read_csv('compensation data.csv')
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [121]:
df.shape

(25973, 6)

In [123]:
df.head(5)

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288

In [125]:
df.head(0)

Empty DataFrame
Columns: [experience_coding, python_user, r_user, sql_user, most_used, compensation]
Index: []

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   experience_coding  25973 non-null  float64
 1   python_user        25973 non-null  bool
 2   r_user             25973 non-null  bool
 3   sql_user           25973 non-null  bool
 4   most_used          16835 non-null  object
 5   compensation       25973 non-null  int64
dtypes: bool(3), float64(1), int64(1), object(1)
memory usage: 685.0+ KB

In [129]:
survey = df

In [131]:
survey

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [133]:
df.compensation

0        124267
1        236889
2         74321
3         62593
4         36288
          ...
25968     15800
25969     62456
25970       923
25971     60609
25972       493
Name: compensation, Length: 25973, dtype: int64

In [135]:
df.shape[0]

25973

In [137]:
true_count1 = df['python_user'].value_counts().get(True, 0)
print("total nuber of python users :", true_count1)
true_count2 = df['r_user'].value_counts().get(True, 0)
print("total nuber of r_users :", true_count2)
true_count3 = df['sql_user'].value_counts().get(True, 0)
print("total number of sql_users :",true_count3)

total nuber of python users : 21860
total nuber of r_users : 5335
total number of sql_users : 10757

In [139]:
df.experience_coding.describe()

count    25973.000000
mean         5.297232
std          6.898151
min          0.000000
25%          0.950000
50%          2.500000
75%          6.000000
max         30.000000
Name: experience_coding, dtype: float64

In [141]:
df.experience_coding.min()

0.0

In [143]:
df.experience_coding.max()

30.0

In [145]:
df.experience_coding.sum()/df.experience_coding.count()

5.297231740653754

In [147]:
print("min of compensation: ",df.compensation.min())
print("max of compensation: ",df.compensation.max())
print("avg of compensation: ",df.compensation.sum()/df.compensation.count())

min of compensation:  0
max of compensation:  1492951
avg of compensation:  53252.81696377007

In [149]:
df.experience_coding

0         6.1
1        12.3
2         2.2
3         2.7
4         1.2
         ...
25968     1.9
25969     1.4
25970     0.0
25971     9.4
25972     0.0
Name: experience_coding, Length: 25973, dtype: float64

In [155]:
df['category'] = df['experience_coding'].apply(
    lambda x: '<5 years' if x < 5 
    else ('5-10 years' if 5 <= x < 10 
          else ('10-15 years' if 10 <= x < 15 
                else ('15-20 years' if 15 <= x < 20 
                      else ('20-25 years' if 20 <= x < 25 
                            else '+25 years'))))
)
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation,category
0,6.1,True,False,True,Scikit-learn,124267,5-10 years
1,12.3,True,True,True,Scikit-learn,236889,10-15 years
2,2.2,True,False,False,NaN,74321,<5 years
3,2.7,False,False,True,NaN,62593,<5 years
4,1.2,True,False,False,Scikit-learn,36288,<5 years
...,...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800,<5 years
25969,1.4,True,False,False,PyTorch,62456,<5 years
25970,0.0,False,False,False,NaN,923,<5 years
25971,9.4,True,False,True,Scikit-learn,60609,5-10 years
25972,0.0,False,False,False,NaN,493,<5 years

In [276]:
df[df['experience_coding'] < 5]['compensation'].sum()/df[df['experience_coding'] < 5]['compensation'].count()

45047.87484669119

In [288]:
average_compensation = df[(df['experience_coding'] >= 5) & (df['experience_coding'] < 10)]['compensation'].sum() / df[(df['experience_coding'] >= 5) & (df['experience_coding'] < 10)]['compensation'].count()
print(average_compensation)

59312.82033470161

In [290]:
average_compensation = df[(df['experience_coding'] >= 10) & (df['experience_coding'] < 15)]['compensation'].sum() / df[(df['experience_coding'] >= 10) & (df['experience_coding'] < 15)]['compensation'].count()
print(average_compensation)

80226.75581395348

In [294]:
average_compensation = df[(df['experience_coding'] >= 15) & (df['experience_coding'] < 20)]['compensation'].sum() / df[(df['experience_coding'] >= 15) & (df['experience_coding'] < 20)]['compensation'].count()
print(average_compensation)

75101.82694106642

In [296]:
average_compensation = df[(df['experience_coding'] >= 20) & (df['experience_coding'] < 25)]['compensation'].sum() / df[(df['experience_coding'] >= 20) & (df['experience_coding'] < 25)]['compensation'].count()
print(average_compensation)

103159.80432432433

In [300]:
average_compensation = df[df['experience_coding'] >= 25 ]['compensation'].sum() / df[df['experience_coding'] >= 25 ]['compensation'].count()
print(average_compensation)

90444.98512221042

In [270]:
df.to_csv('compensation data1.csv', index=False)