###### Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )
###### • Print all elements from my_tuple on a new line (using for loop)
###### • Create a new tuple by concatenating the first and last elements of my_tuple

In [3]:
# Print all elements from my_tuple on a new line (using for loop)
my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
for x in my_tuple:
    print(x)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [57]:
# Create a new tuple by concatenating the first and last elements of my_tuple
my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3, 7, 8, 9)

###### Q2. inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
###### 8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }
###### • Add a new book in inventory using method and get all book titles using method
###### • Remove a book if it&#39;s out of stock

In [50]:
inventory ={
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 0},
}
# Add a new book in inventory using method and get all book titles using method
inventory["The Great Gatsby"]= {"price": 14.99, "quantity": 1}
print("list of books in inventory after adding a new book: ", inventory)

all_keys = list(inventory.keys())
print("Titles of the books availabe in the inventory:", all_keys)

list of books in inventory after adding a new book:  {'The Great Gatsby': {'price': 14.99, 'quantity': 1}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 0}}
Titles of the books availabe in the inventory: ['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter']

In [51]:
#Remove a book if it's out of stock
for book in list(inventory.keys()):
    if inventory[book]["quantity"] == 0:
            print(inventory[book], "Book is deleted")
            del inventory[book]
    else:
        print(inventory[book], "is not out of stock")

{'price': 14.99, 'quantity': 1} is not out of stock
{'price': 8.99, 'quantity': 8} is not out of stock
{'price': 12.5, 'quantity': 0} Book is deleted

###### Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
######  dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
######  category, price, and stock quantity.
######  products = { 101: {&quot;name&quot;: &quot;Laptop&quot;, &quot;category&quot;: &quot;Electronics&quot;, &quot;price&quot;: 1200, &quot;stock&quot;: 50}, 102:
######  {&quot;name&quot;: &quot;Shirt&quot;, &quot;category&quot;: &quot;Apparel&quot;, &quot;price&quot;: 25, &quot;stock&quot;: 200}, 103: {&quot;name&quot;: &quot;Coffee Maker&quot;,
######  &quot;category&quot;: &quot;Home Appliances&quot;, &quot;price&quot;: 80, &quot;stock&quot;: 30} }
######  • Increase the stock of the &quot;Shirt&quot; product (add 50 more units)
######  • Add a new product (e.g., &quot;Smartphone&quot;)

In [60]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
# print(products)
#Increase the stock of the "Shirt" product (add 50 more units)
for ids in list(products.keys()):
    if products[ids]["name"] == 'Shirt':
        shirt_stock = products[ids]["stock"] 
        products[ids]["stock"] = shirt_stock+50
print(products)

# Add a new product (e.g., "Smartphone")
products["104"]= {"name": "Smarphones", "category": "Electornics", "price": 15000, "stock": 20}
print("list of products in products's dict  after adding a new product: ", products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
list of products in products's dict  after adding a new product:  {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, '104': {'name': 'Smarphones', 'category': 'Electornics', 'price': 15000, 'stock': 20}}

###### Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
###### shopping_list = [&quot;apple&quot;, &quot;banana&quot;, &quot;apple&quot;, &quot;orange&quot;, &quot;banana&quot;, &quot;grape&quot;]

In [63]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
new_set = set(shopping_list)
print(new_set)

{'apple', 'grape', 'banana', 'orange'}

###### Q5. You are managing a list of students enrolled in two different courses. You need to perform
###### various set operations to understand the student enrollment. Task: Create two sets: one for students
###### in &quot;Course A&quot; and one for students in &quot;Course B&quot;. Find the students who are in &quot;Course A&quot; but not in
###### &quot;Course B&quot; (difference). Find students who are only in one of the two courses (symmetric
###### difference). course_a = {&quot;John&quot;, &quot;Alice&quot;, &quot;Bob&quot;, &quot;David&quot;} course_b = {&quot;Alice&quot;, &quot;Eve&quot;, &quot;Charlie&quot;,
###### &quot;David&quot;}
###### • Find students who are in Course A but not in Course B (difference)
###### • Find students who are only in one of the two courses (symmetric difference)

In [5]:
course_a = {"John", "Alice", "Bob", "David"} 
course_b = {"Alice", "Eve", "Charlie","David"}

print ("students who are in Course A but not in Course B ", course_a.difference(course_b))
print ("students who are only in one of the two courses (symmetric difference) ", course_a.symmetric_difference(course_b))

students who are in Course A but not in Course B  {'Bob', 'John'}
students who are only in one of the two courses (symmetric difference)  {'Bob', 'Eve', 'Charlie', 'John'}

###### Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
###### (inclusive) using a for loop.
###### Hint
###### 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
###### 2. Use a for loop to iterate through all numbers from 1 to 50.
###### 3. Inside the loop, check if the number is even.
###### 4. If the number is even, add it to sum_of_evens.
###### 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [20]:
sum_even= 0
for x in range(1, 51):
    if x %2 == 0:
        sum_even= sum_even+x
print("total sum of all even numbers between 1 and 50.", sum_even)

total sum of all even numbers between 1 and 50. 650

###### Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
###### 10) using a for loop.

###### Hint:
###### 1. Ask the user for a number between 1 and 10 .
###### 2. Use a for loop to iterate through the numbers from 1 to 10.
###### 3. For each iteration, calculate the product of the given number and the current number in the
###### loop.
###### 4. Print the result in a readable format (e.g., 5 x 1 = 5).
###### 5. Ensure the program works correctly for any number between 1 and 10.

In [32]:
table_of = int(input("Enter the number."))
if table_of>=1 and table_of<= 10:
    for  x in range (1 , 11):
        print(f"{table_of}*{x}={table_of*x}")
else: 
    print("the entered nuber is not between 1 to 10")

Enter the number. 9

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

###### Q8. Power of a Number
######  Write a Python program that takes a number and prints the powers of the number (starting from 1
######  to 10) using a while loop. For example, if the user inputs 3, the output should be:
######  3^1 = 3
######  3^2 = 9
######  3^3 = 27
######  ... up to 3^10.

In [56]:
power_of= int(input("Enter the number:"))
number = 1
while number <=10 :  
    print(f"{power_of}^{number}={power_of**number}")
    number = number+1

Enter the number: 4

4^1=4
4^2=16
4^3=64
4^4=256
4^5=1024
4^6=4096
4^7=16384
4^8=65536
4^9=262144
4^10=1048576

######  Q9. Problem Statement: Write a Python program that takes an integer input from the user and
###### counts down from that number to 0. The program should display the current number at each step
######  until it reaches 0, at which point it should print a message indicating the countdown is finished
######  Output Hint:
###### Enter a number to start the countdown: 3
######  3
######  2
######  1
###### 0
######  Countdown finished!

In [48]:
count_down = int(input("Enter a number to start the countdown:"))
for x in range (count_down+1):
    print(count_down)
    count_down =count_down-1
    
print("Countdown finished!")

Enter a number to start the countdown: 4

4
3
2
1
0
Countdown finished!

######  Q10. Write a Python program that takes an integer input n from the user and generates a right-
###### angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
###### stars, the third row 3 stars, and so on until the nth row.
###### Ensure the stars in each row are separated by spaces, and each row starts on a new line.
###### # Pattern:
###### *
###### **
###### ***
###### ****
###### *****

In [52]:
star_row = int(input("Enter a number:"))
for x in range (star_row):
    for y in range (x+1):
        print("*" , end='')
    print()

Enter a number: 6

*
**
***
****
*****
******