In [32]:
salaries = ['20k', '40k', '50k', '60k','35k', '89k','40k']

In [33]:
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

## 1. what is length of the salries list

In [34]:
print(len(salaries))

7

## 2. Retrieve the third salary in the list by using index.

In [35]:
print(salaries[2])

50k

## 3. Extract the last salary from the list by using the negetive index

In [36]:
print(salaries[-1])

40k

## 4.Slice the salaries list to  get the middle three salaries.

In [37]:
print(salaries[2:5])

['50k', '60k', '35k']

## 5.Add a new salary to the list , '100k' by using append() method.

In [38]:
salaries.append('100k')

In [39]:
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

## 6. Add a new salary to the list '120k' without method.

In [40]:
print(salaries+['120K'])

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120K']

## 7.Replace the third salary in the list with '55k'  and print the updated list.

In [41]:
salaries[2] = '55k'

In [42]:
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

## 8.count how many times '40k' appears in the list.

In [43]:
print(salaries.count('40k'))

2

## 9.Insert a new salary at the second position.

In [44]:
salaries.insert(1,'60k')

In [45]:
print(salaries)

['20k', '60k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

## 10.Reverse the order of the salaries list with method.

In [55]:
salaries.reverse()
print(salaries)

['100k', '40k', '89k', '35k', '60k', '55k', '40k', '60k', '20k']

## 11. Reverse the order of the salaries list without method.

In [57]:
rev = salaries[::-1]

In [58]:
print(rev)  # this code is using the list (that is reverse in the above cell.)

['20k', '60k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']